<!-- Headings -->
<%- include('partials/head') %>
<!-- Nav Bar -->
<%- include('partials/navBar') %>

<h1>Home Page</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt nihil
  facilis harum magnam. Sed explicabo unde placeat. Natus sapiente delectus a
  nesciunt quaerat eos nemo veniam, dignissimos magni deserunt voluptates.
</p>
<button>Click Me!</button>
<button>Click Me!</button>
<br />
<h2>EJS Practice - <%= 9 * 9 %></h2>
<h2>Uppercase this: <%= 'Mico Rayen'.toUpperCase()%></h2>

<!-- Footer -->
<%- include('partials/footer') %>
