<!-- Headings -->
<%- include('partials/head') %>

<!-- Nav Bar -->
<%- include('partials/navBar') %>
<!-- <h1>Your Random Number is: 
    <%= Math.floor(Math.random() * 10) + 1 %>
  </h1> -->

<!-- Normally you want your template as 'simple as possible', not full of JS code -->
<h1>Your Random Number is: <%= randomNum %></h1>

<!-- Footer -->
<%- include('partials/footer') %>
