<% layout('layouts/boilerplate') %>

<!-- ======================== -->
<div class="row">
  <h1 class="text-center">Edit Campground:</h1>
  <div class="col-6 offset-3 mb-5">
    <form
      action="/campgrounds/<%= foundCampground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title: </label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Enter Title"
          value="<%= foundCampground.title %>"
          required
        />
        <div class="valid-feedback">Please enter a valid campground title.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location: </label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="campground location"
          value="<%= foundCampground.location %>"
          required
        />
        <div class="invalid-feedback">
          Please provide a valid campground location.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image (URL): </label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          id="image"
          placeholder="Enter Image (URL)"
          value="<%= foundCampground.image %>"
          required
        />
        <div class="invalid-feedback">Please enter a valid image URL.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price: </label>

        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            name="campground[price]"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            value="<%= foundCampground.price %>"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid price for the campground.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description: </label>
        <textarea
          class="form-control"
          name="campground[description]"
          id="description"
          cols="10"
          rows="5"
          placeholder="Put Description Here:"
          required
        >
        <%= foundCampground.description %></textarea
        >
        <div class="invalid-feedback">
          Please enter a description for the campground.
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= foundCampground._id %>"
      >Back to Selected Campground</a
    >
  </div>
</div>
