<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Show Page</title>
  </head>
  <body>
    <h1><%= product.name %></h1>

    <ul>
      <li><%= product.price %></li>
      <li>
        <a href="/products?category=<%= product.category %>"
          ><%= product.category %></a
        >
      </li>
      <% for(let farm of product.farm){ %>
        <li>Farm: 
          <a href="/farms/<%= farm._id %>"><%= farm.name %>
        </li>
      
        <% } %>

    </ul>

    <br />
    <a href="/products"> Go-Back to All Products</a>
    <a href="/products/<%= product._id %>/edit"> Edit Product</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
      <button>Delete Entry</button>
    </form>
  </body>
</html>
`
